<div class='headersmall-container'>

  <div class="headersmall-end">
      <div class="headersmall-items">
      <i class='fas fa-message' ></i>
  </div>

  <div class="headersmall-items">
      <i class='fas fa-bell'></i>
  </div>

  <div class="headersmall-items headersmall-profile-item">
      <div class="headersmall-profile-img-container">
        <img src='../../../assets/profile.jpg' alt="" width='40px' height="40px" class='headersmall-profile-img' />
      </div>
      <i class='fas fa-ellipsis-vertical'></i>
    </div>
  </div>

</div>