// footer {
//     background-color: #224957;
//     padding: 20px 0;
//     text-align: center;
//   }
  
//   .footer-content {
//     display: flex;
//     justify-content: space-between;
//   }

//   .d-flex{
//     padding: 2rem;
//     box-sizing: border-box;
//     justify-content: space-between;
//     width: 50%;
//   }
  
//   .footer-column {
//     margin: 0 20px;
//     color: #fff;
//   }
  
//   .footer-column h4 {
//     font-size: 18px;
//     margin-bottom: 10px;
//   }
  
//   .footer-column ul {
//     list-style-type: none;
//     padding: 0;
//   }
  
//   .footer-column ul li {
//     margin-bottom: 5px;
//   }
  
//   .footer-info {
//     font-size: 14px;
//     margin-top: 20px;
//   }
  
//   i{
//     margin-right: 1rem;
//     font-size: 1.5em;
//     color: #25925B;
//   }

//   .end{
//     padding: 2rem;
//     box-sizing: border-box;
//     width: 50%;
//   }

//   .social-icons{
//     padding: 2rem;
//     box-sizing: border-box;
//     text-align: center;

    
//   }

.image-container {
    height: fit-content;
    width: 100%;
    // background-image: url(../../../assets/footer.png);
    // background-position: center;
    // background-repeat: no-repeat;

    img{
        width: 100%;
    }
}

  