<div class="image-container">
    <img src="../../../assets/footer.png" alt="">
</div>


































<!-- <footer>
    <div class="footer-content">
      <div class="d-flex">
        <div class="footer-column">
            <h4>Community</h4>
            <ul>
              <li>Tutorials</li>
              <li>Documentation</li>
              <li>Forum</li>
            </ul>
    
            <div class="footer-column">
                <h4>Open Source</h4>
                <ul>
                  <li>Download</li>
                  <li>Github</li>
                  <li>Runbot</li>
                  <li>Translations</li>
                </ul>
              </div>
          </div>
          
          <div class="footer-column">
            <h4>Services</h4>
            <ul>
              <li>Odoo.sh Hosting</li>
              <li>Support</li>
              <li>Upgrade</li>
              <li>Custom Developments</li>
            </ul>
    
            <div class="footer-column">
                <h4>Education</h4>
                <ul>
                  <li>Find an Accountant</li>
                  <li>Find a Partner</li>
                  <li>Become a Partner</li>
                </ul>
              </div>
          </div>
          
          <div class="footer-column">
            <h4>About us</h4>
            <ul>
              <li>Our company</li>
              <li>Brand Assets</li>
              <li>Contact us</li>
              <li>Jobs</li>
              <li>Events</li>
              <li>Podcast</li>
              <li>Blog</li>
              <li>Customers</li>
            </ul>
          </div>
      </div>
      <div class="end">
        <div class="social-icons">
            <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
            <i class="fa-brands fa-instagram" aria-hidden="true"></i>
            <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
            <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
            <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
            <i class="fa-brands fa-tiktok" aria-hidden="true"></i>
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="logo-img">
            <img src="../../../assets/logo.png" height="200px" alt="Logo">
        </div>
      </div>
    </div>
    
  </footer>
   -->