<div class='header'>
    <div class="items hamburger" (click)="onToggleSidebar()">
        <button class="hamburger-icon">
        &#9776;
        </button>
    </div>
    <div class="header-center">

      <div class="searchbar-container">
        <app-searchbar></app-searchbar>
      </div>

        <!-- <div class="list-item">
            <span class="list-item-btn">
              <p>Sales</p>
              <i class="fas fa-caret-down"></i>
            </span>
            <div class="list-item-content">
              <p>Option 1</p>
              <p>Option 2</p>
              <p>Option 3</p>
            </div>
        </div>

        <div class="list-item">
            <span class="list-item-btn">
              <p>Projects</p>
              <i class="fas fa-caret-down"></i>
            </span>
            <div class="list-item-content">
              <p>Option 1</p>
              <p>Option 2</p>
              <p>Option 3</p>
            </div>
        </div>

        <div class="list-item">
            <span class="list-item-btn">
              <p>Team</p>
              <i class="fas fa-caret-down"></i>
            </span>
            <div class="list-item-content">
              <p>Option 1</p>
              <p>Option 2</p>
              <p>Option 3</p>
            </div>
        </div>

        <div class="list-item">
            <span class="list-item-btn">
              <p>Apps</p>
              <i class="fas fa-caret-down"></i>
            </span>
            <div class="list-item-content">
              <p>Option 1</p>
              <p>Option 2</p>
              <p>Option 3</p>
            </div>
        </div>

        <div class="list-item">
            <span class="list-item-btn">
              <p>Calender</p>
            </span>
        </div> -->
    </div>
    <div class="header-end">
        <div class="items"><p>Contacts</p></div>
        <div class="items"><i class="fas fa-message"></i></div>
        <div class="items profile-item">
            <div class="profile-img-container">
                <img src='assets/profile.jpg' alt=""  class='profile-img' />
            </div>
            <div class="profile-name">
                <p class="name">Ena Elena Otuokon</p>
                <p class="status">Admin</p>
            </div>
        </div>
        <div class="items"><i class="fas fa-bell"></i></div>
    </div>
  </div>