<div class="dashboard">
    <div class="body">
      <div class="main">
        <div class="main-section">
          <h1 class='main-section-title'>Welcome Admin,</h1>
          <hr />
          <div class="sales-container">
            <!-- <h1>Sales</h1> -->
            <div class="sales-card-container">
              <app-sales-card></app-sales-card>
            </div>
            <div class="today-top-container">
              <!-- <app-transaction-card></app-transaction-card> -->
              <div class="today-sales-container">
                <app-today-sales></app-today-sales>
              </div>
              <div class="top-product-container">
                <app-top-ptoducts></app-top-ptoducts>
              </div>
            </div>
          </div>
          <!-- <div class="sales-card-container"></div> -->
        </div>
      </div>
    </div>
  </div>