<div class='todaysales'>
    <p class="todaysales-title">Today's Sales</p>
    <p class="todaysales-subtitle">Sales Summary</p>
    <div class="todaysales-body">
      <div class="todaysales-card">
        <img src='../../../assets/icon001.png' alt="" class="icon" />
        <p class="amount">#5k</p>
        <p class='middle-text'>Total Sales</p>
        <p class='text-sm color-1'>+10% from yesterday</p>
      </div>
      <div class="todaysales-card">
        <img src='../../../assets/Icon002.png' alt="" class="icon" />
        <p class="amount">500</p>
        <p class='middle-text'>Total Order</p>
        <p class='text-sm color-2'>+8% from yesterday</p>
      </div>
      <div class="todaysales-card">
        <img src='../../../assets/Icon003.png' alt="" class="icon" />
        <p class="amount">9</p>
        <p class='middle-text'>Product Sold</p>
        <p class='text-sm color-3'>+2% from yesterday</p>
      </div>
      <div class="todaysales-card">
        <img src='../../../assets/Icon004.png' alt="" class="icon" />
        <p class="amount">12</p>
        <p class='middle-text'>New Customers</p>
        <p class='text-sm color-4'>+3% from yesterday</p>
      </div>
    </div>
</div>