<div class='members-container'>    
    <div class="main-section">
      <h1 class='main-section-title'>Centrifuge Group</h1>
      <div class="members-top">
        <div class="sponsors-container">
          <app-sponsor></app-sponsor>
        </div>
        <div class="product-design-container">
          <app-product-design></app-product-design>
        </div>
        <div class="qa-container">
          <app-question-answer></app-question-answer>
        </div>
      </div>
      <div class="members-bottom">
        <div class="management-container">
          <app-management></app-management>
        </div>
        <div class="user-interface-container">
          <app-user-interface></app-user-interface>
        </div>
        <div class="new-members-stats-container">
          <div class="new-members-stats">
            <i class="fas fa-user-plus"></i>
            <!-- <img src="../../../assets/addmember.png" alt="add member"> -->
            <p class="t1">12</p>
            <p class="t2">New Member</p>
            <p class="t3">+3% from yesterday</p>
          </div>
        </div>
      </div>
    </div>
  </div>