
<div class="main">
    <form class="login-container">
        <div class="login">
            <div class="logo-img">
                <img src="../../../assets/Logo-green.png" alt="Logo">
            </div>
            <h4 class="text-center mt-3 mb-4">Welcome to OPTIMAX</h4>
            <div class="content">
                <div class="items">
                    <!-- <div><label for="Username"></label></div> -->
                    <input type="email" placeholder="Email" id="email" name="email" required [(ngModel)]="login.email" >
                </div>
                <div class="items">
                    <!-- <div><label for="Paddword"></label></div> -->
                    <input type="password" placeholder="Password" name="password" required [(ngModel)]="login.password" >
                </div>
                <div class="wrapper mt-3">
                    <div class="d-flex">
                        <div class="me-2"><input type="checkbox"></div>
                        <label for="Paddword">Remember me</label>
                    </div>

                    <p class="pointer">Forgot password?</p>
                </div>
            </div>
            <div class="login-btn-container mt-3">
                <button (click)="onLogin()">Login</button>
            </div>
            <div class="bottom">
                <p>New to Oprimax? <span routerLink="/register">sign-up</span> here</p>
                
            </div>
            
        </div>
    </form>

</div>

