<div class='total-revenue'>
    <div class="total-revenue-component">
      <div class="total-revenue-img-container">
        <img src='../../../assets/Total-Revenue-Icon.png' alt="Total Revenue Icon" class="total-revenue-img" />
      </div>
      <div class="total-revenue-text-container">
        <p class="total-revenue-title">Total Revenue</p>
        <p class="total-revenue-amount">
          <span class='total-revenue-amount-amount'>₦52.6k</span> 
          <span class='total-revenue-percent'>+3.4%</span>
        </p>
      </div>
    </div>
  </div>