.total-revenue{
    width: 100%;
    height: 285px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #2EB772;
    display: flex;
    justify-content: center;
    align-items: center;
}
.total-revenue-img-container{
    display: flex;
    justify-content: center;
}
.total-revenue-img{
    height: 70px;
    height: 70px;
}
.total-revenue-text-container{
    text-align: center;
}
.total-revenue-title{
    font-size: 1.3em;
    font-weight: 500;
    color: #fff;
}
.total-revenue-amount{
    color: black;
    
}
.total-revenue-amount-amount{
    font-size: 1.5em;
    font-weight: 500;
}
.total-revenue-percent{
    background-color: #fff;
    color: #2EB772;
    font-size: 0.7em;
    padding: 0.0rem 0.5rem;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: 0.5rem;
}