<div class="settings-container">
    <div class="settings-body-container">
        <h1 class='settings-body-title'>settings</h1>

        <div class="d-flex settings-body">
            <div class="rignt">
                <div class="profile-info-container">
                    <app-profile-info></app-profile-info> 
                </div>
                <div class="items">
                    <div class="item">
                        <div class="right">
                            <i class="fa-solid fa-layer-group"></i>
                            <span>Subscriptions</span>
                        </div>
                        <div class="left">
                            <i class="fa fa-greater-than"></i>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right">
                            <i class="fa fa-file-invoice"></i>
                            <span>Invoice</span>
                        </div>
                        <div class="left">
                            <i class="fa fa-greater-than"></i>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right">
                            <i class="fa fa-user"></i>
                            <span>User Management</span>
                        </div>
                        <div class="left">
                            <i class="fa fa-greater-than"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left">
                <div class="content">
                    <div class="img-container">
                        <img src="../../../assets/settings-svg.png" alt="Settings Image">
                    </div>
                    <div class="btn-container">
                        <button class="settings-btn">Upgrade Plan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
