 

.accounting-header-container{
    width: 100%;
    display: flex;
    justify-content: end;
}
.accounting-header{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}




.accounting-searchbar-container{
    width: 45%;
}
.accounting-headersmall-container{
    width: 50%;
}















.accounting-body{
    padding: 1rem;
}
.accounting-body-title{
    font-size: 2.5em;
    letter-spacing: 3px;
    color: #224957;
    text-transform: capitalize;
}

.first-container{
    width: 100%;
    display: flex;
    margin-top: 2.5rem;
    /* background-color: black; */
}
.today-sales-container{
    width: 45%;
}
.levels-container{
    width: 20%;
    height: 285px;
    margin-left: 1rem;
}
.earnings-container{
    width: 20%;
    margin-left: 1rem;
    height: 285px;
}

.second-container{
    width: 100%;
    display: flex;
    margin-top: 2.5rem;
}
.top-products-container{
    width: 45%;
}
.customer-fulfilment-container{
    width: 20%;
    height: 285px;
    margin-left: 1rem;
}
.total-revenue-container{
    width: 20%;
    margin-left: 1rem;
    height: 285px;
}