<div class='accounting-container'>
    <div class="accounting-body">
      <h1 class='accounting-body-title'>Accounting</h1>
      <div class="first-container">
        <div class="today-sales-container">
          <!-- today sales component here -->
          <app-today-sales></app-today-sales>
        </div>
        <div class="levels-container">
          <!-- levels component here -->
          <app-levels></app-levels>
        </div>
        <div class="earnings-container">
          <!-- earnings component here -->
          <app-earnings></app-earnings>
        </div>
      </div>
      <div class="second-container">
        <div class="top-products-container">
          <!-- top product component here -->
          <app-top-ptoducts></app-top-ptoducts>
        </div>
        <div class="customer-fulfilment-container">
          <!-- customerfulfilment component here -->
          <app-customer-fulfilment></app-customer-fulfilment>
        </div>
        <div class="total-revenue-container">
          <!-- Total revenue component here -->
          <app-total-revenue></app-total-revenue>
        </div>
      </div>
    </div>
</div>
